In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
dataset=pd.read_csv('Book02.csv')
dataset.head()

,Unnamed: 0,input var 1,Input var 2,input var 3,Input var 4,Input var 5,Output var
0,0,153,47,40,90.278221,18,6612.0
1,1,41,43,41,5.732256,11,1344.0
2,2,114,51,69,187.273720,20,6300.0
3,3,76,45,44,29.319263,30,3115.0
4,4,126,39,71,27.012350,41,6105.0

In [4]:
X = dataset.iloc[:,1:6].values
y = dataset.iloc[:,6].values

In [5]:
from sklearn.cross_validation import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)  
y_test

C:\Users\atchay\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

array([ 1508. ,  6732. ,  9018. ,  9483. ,  4156.5,  5285. ,  7524. ,
        2660. ,  6125. ,  2691. ,  4947. ,  4399. ,  3240. ,  1000.5,
        2950. , 11297. ,  3298. ,  5695. ,  5772. ,  2080.5,  3710. ,
        2914. ,  1459.5,  6642. ,  6612. ,  5904. ,  1568. ,  6237. ,
       11398. ,  2752. ,  3510. ,  4926.5,  5166. ,  1508. ,  5408. ,
        4320. ,  4158. , 10148. ,  7260. ,  8136. ,  7137. ,  6576. ,
        4116. ,  4887.5,  4600. ,  9024. ,   550. ,  6174. ,  3153.5,
        7452. ,  2138.5,  2002.5,  1930.5,   550. ,  6918.5,  2156. ,
        5917. ,  2808. ,  3727.5,  1196. ,  3807. ,  4154. ,  5699. ,
        3146. ,  4517.5,  2240. ,  8692.5,  5264. ,  6527. ,  3105. ,
        7645. ,  2160. ,  5626.5,  7144. ,  3562.5,  5638.5,  1437.5,
        1980. ,   942.5, 10150. ])

In [6]:
#scaling the values
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [7]:
from xgboost import XGBRegressor

In [8]:
model = XGBRegressor()
model.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, importance_type='gain',
       learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
       nthread=None, objective='reg:linear', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=True,
       subsample=1)

In [9]:
"""from sklearn.linear_model import LinearRegression  
regressor = LinearRegression()  
regressor.fit(X_train, y_train) """

'from sklearn.linear_model import LinearRegression  \nregressor = LinearRegression()  \nregressor.fit(X_train, y_train) '

In [10]:
y_pred = model.predict(X_test)

In [11]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})  
df

     Actual     Predicted
0    1508.0   1794.338501
1    6732.0   5836.300781
2    9018.0   9186.175781
3    9483.0   9431.257812
4    4156.5   4151.091797
5    5285.0   5760.525879
6    7524.0   7414.864258
7    2660.0   3076.564941
8    6125.0   6214.095703
9    2691.0   2042.523682
10   4947.0   4634.078613
11   4399.0   4614.979492
12   3240.0   3047.285400
13   1000.5   1099.629761
14   2950.0   3190.402344
15  11297.0  10686.629883
16   3298.0   2794.221191
17   5695.0   5858.796875
18   5772.0   6217.663086
19   2080.5   1923.971069
20   3710.0   3809.872559
21   2914.0   2282.292725
22   1459.5   2186.406006
23   6642.0   7194.658691
24   6612.0   6653.156250
25   5904.0   5861.404297
26   1568.0   1738.362061
27   6237.0   5836.300781
28  11398.0  11043.228516
29   2752.0   2751.104492
..      ...           ...
50   2138.5   2539.371338
51   2002.5   2031.067871
52   1930.5   1686.890137
53    550.0    615.308838
54   6918.5   7213.438965
55   2156.0   1683.752075
56   5917.0   5679.457520
57   2808.0   2820.071045
58   3727.5   4235.481934
59   1196.0   1412.634766
60   3807.0   3799.940918
61   4154.0   5132.890137
62   5699.0   5622.456055
63   3146.0   3150.846191
64   4517.5   4960.052734
65   2240.0   2540.608398
66   8692.5   8605.659180
67   5264.0   5623.336914
68   6527.0   7033.953125
69   3105.0   3154.100342
70   7645.0   7518.192383
71   2160.0   2501.951660
72   5626.5   5879.584473
73   7144.0   7036.474609
74   3562.5   3231.800049
75   5638.5   6157.448242
76   1437.5   1790.935913
77   1980.0   2058.716064
78    942.5    712.767822
79  10150.0  10271.484375

[80 rows x 2 columns]

In [13]:
from sklearn import metrics
l=metrics.r2_score(y_test, y_pred)
l

0.9822010858551515

In [14]:
print('r2_score : {}'.format(l))
print('algorithm : XGBRegression')

r2_score : 0.9822010858551515
algorithm : XGBRegression